<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankApp_P1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>BankApp.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/logedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>BankApp.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaoRegister</display-name>
    <servlet-name>DaoRegister</servlet-name>
    <servlet-class>BankApp.DaoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoRegister</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccServlet</display-name>
    <servlet-name>OpenAccServlet</servlet-name>
    <servlet-class>BankApp.OpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccServlet</servlet-name>
    <url-pattern>/openconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEmplServlet</display-name>
    <servlet-name>LoginEmplServlet</servlet-name>
    <servlet-class>EmployeeApp.LoginEmplServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmplServlet</servlet-name>
    <url-pattern>/logedem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveServlet</display-name>
    <servlet-name>approveServlet</servlet-name>
    <servlet-class>EmployeeApp.approveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveServlet</servlet-name>
    <url-pattern>/approve_acc</url-pattern>
  </servlet-mapping>
  
</web-app>