<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankApp_P1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>BankApp.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/logedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>BankApp.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaoRegister</display-name>
    <servlet-name>DaoRegister</servlet-name>
    <servlet-class>BankApp.DaoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoRegister</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccServlet</display-name>
    <servlet-name>OpenAccServlet</servlet-name>
    <servlet-class>BankApp.OpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccServlet</servlet-name>
    <url-pattern>/openconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEmplServlet</display-name>
    <servlet-name>LoginEmplServlet</servlet-name>
    <servlet-class>EmployeeApp.LoginEmplServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmplServlet</servlet-name>
    <url-pattern>/logedem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveServlet</display-name>
    <servlet-name>approveServlet</servlet-name>
    <servlet-class>EmployeeApp.approveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveServlet</servlet-name>
    <url-pattern>/approveacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewClients</display-name>
    <servlet-name>NewClients</servlet-name>
    <servlet-class>EmployeeApp.NewClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClients</servlet-name>
    <url-pattern>/newclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccServlet</display-name>
    <servlet-name>ViewAccServlet</servlet-name>
    <servlet-class>EmployeeApp.ViewAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccServlet</servlet-name>
    <url-pattern>/viewacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>BankApp.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>BankApp.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dep_ch_servlet</display-name>
    <servlet-name>Dep_ch_servlet</servlet-name>
    <servlet-class>BankApp.Dep_ch_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dep_ch_servlet</servlet-name>
    <url-pattern>/checkingdep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dep_sv_servlet</display-name>
    <servlet-name>Dep_sv_servlet</servlet-name>
    <servlet-class>BankApp.Dep_sv_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dep_sv_servlet</servlet-name>
    <url-pattern>/savingsdep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wit_ch_servlet</display-name>
    <servlet-name>Wit_ch_servlet</servlet-name>
    <servlet-class>BankApp.Wit_ch_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wit_ch_servlet</servlet-name>
    <url-pattern>/checkingwithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wit_sv_servlet</display-name>
    <servlet-name>Wit_sv_servlet</servlet-name>
    <servlet-class>BankApp.Wit_sv_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wit_sv_servlet</servlet-name>
    <url-pattern>/savingswithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer_ch_sv_servlet</display-name>
    <servlet-name>Transfer_ch_sv_servlet</servlet-name>
    <servlet-class>BankApp.Transfer_ch_sv_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer_ch_sv_servlet</servlet-name>
    <url-pattern>/transfer_ch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer_ch_sv</display-name>
    <servlet-name>Transfer_ch_sv</servlet-name>
    <servlet-class>BankApp.Transfer_ch_sv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer_ch_sv</servlet-name>
    <url-pattern>/tranfer_sv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer_sv_ch_servlet</display-name>
    <servlet-name>Transfer_sv_ch_servlet</servlet-name>
    <servlet-class>BankApp.Transfer_sv_ch_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer_sv_ch_servlet</servlet-name>
    <url-pattern>/transfer_sv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsServlet</display-name>
    <servlet-name>TransactionsServlet</servlet-name>
    <servlet-class>BankApp.TransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsServlet</servlet-name>
    <url-pattern>/transactions_ch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsServlet_sv</display-name>
    <servlet-name>TransactionsServlet_sv</servlet-name>
    <servlet-class>BankApp.TransactionsServlet_sv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsServlet_sv</servlet-name>
    <url-pattern>/transactions_sv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All_ch_servlet</display-name>
    <servlet-name>All_ch_servlet</servlet-name>
    <servlet-class>EmployeeApp.All_ch_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All_ch_servlet</servlet-name>
    <url-pattern>/all_ch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmplByClientChServlet</display-name>
    <servlet-name>EmplByClientChServlet</servlet-name>
    <servlet-class>EmployeeApp.EmplByClientChServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmplByClientChServlet</servlet-name>
    <url-pattern>/ch_by_client</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmplByClientSvServlet</display-name>
    <servlet-name>EmplByClientSvServlet</servlet-name>
    <servlet-class>EmployeeApp.EmplByClientSvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmplByClientSvServlet</servlet-name>
    <url-pattern>/sv_by_client</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>BalanceServletCh</display-name>
    <servlet-name>BalanceServletCh</servlet-name>
    <servlet-class>BankApp.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServletCh</servlet-name>
    <url-pattern>/balance_ch1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalServletCh</display-name>
    <servlet-name>BalServletCh</servlet-name>
    <servlet-class>BankApp.BalanceServletCh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalServletCh</servlet-name>
    <url-pattern>/balance_ch</url-pattern>
  </servlet-mapping>
</web-app>